:root {
  font-size: 12px;
}

.light-mode {
  --bg-color: #ffffff;
  --text-color: #082758;
  --dark-text-color: #214886;
  --mobile-menu: #d6d6d6;
}

.dark-mode {
  --bg-color: #082758;
  --text-color: #ffffff;
  --dark-text-color: #d6d6d6;
  --mobile-menu: #04193c;
}

html,
body {
  height: 100%;
}

body {
  --bg-color: #082758;
  background-color: var(--bg-color);
  font-family: "Ubuntu", sans-serif;
  --primary: #e91e63;
  --primary-light: #ee5e5b;
}

p {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu", sans-serif;
}

img {
  width: 100%;
}

button {
  outline: none !important;
}
.button-animation {
  color: rgba(255, 255, 255, 1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.button-animation a {
  color: rgba(51, 51, 51, 1);
  text-decoration: none;
  display: block;
}
.button-animation::before,
.button-animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  -webkit-transform: translate(-105%, 0);
  transform: translate(-105%, 0);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.25);
}
.button-animation::after {
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
}
.button-animation:hover::before,
.button-animation:hover::after {
  opacity: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.toggle-menu {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  z-index: 92;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: var(--mobile-menu);
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.mobile-nav ul,
.mobile-nav li {
  margin: 0;
  padding: 0;
}

.mobile-nav li a {
  font-size: 2rem;
  color: var(--text-color);
}

.mobile-nav ul {
  padding: 25px;
  position: absolute;
  top: 60px;
  width: 100%;
}

.mobile-nav li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}
@media (max-width: 640px) {
  .mobile-nav {
    display: block;
  }
  .mobile-nav.mobile-nav-open {
    z-index: 9;
  }
}
